.App {
  overflow: hidden;
  margin: 0%;
  padding: 0%;
}
/* Top header */
.header-top {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border-bottom: 1px solid #e3e3e3;
}
.header-top ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.header-top ul li {
  margin: auto 1.2rem;
}
/* Sub Header */
.header-bottom {
  display: flex;
  justify-content: center;
  border-top: 2px solid #e3e3e3;
  border-bottom: 4px solid #e3e3e3;
  overflow: hidden;
}
.header-bottom ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.header-bottom ul li {
  margin: auto 1vw;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
}
/* Shopping section */
.shopping-section {
  margin: 2rem;
}
.shopping-section h1 {
  text-align: center;
}
/* Shopping content */
.shopping-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* Shopping Checkout */
.total-container {
  border-top: 0.1em solid black;
  padding: 0.8rem;
  display: inline-flex;
  width: 100%;
  margin: 0.5rem 0.5rem;
  justify-content: space-between;
}
Table {
  border-top: 0.03rem solid #d6d3d3;
}
.buy-button {
  background-color: #087c3c !important;
  color: white !important;
  width: 100%;
}
.buy-button:hover {
  background-color: #2d744d !important;
}
.product-image img {
  object-fit: cover;
}
.shopping-content-left {
  width: 60%;
}
.shopping-content-right {
  width: 30%;
}
.product-image img {
  padding: 0;
}
.grandtotal-margin {
  margin-left: 1rem;
}
/* Footer */
.footer-container {
  background-color: #000000;
  color: #ffffff;
}
.footer-container a,
.footer-container .footer-column-3 li:nth-child(2),
.copyright-section p {
  color: rgb(252, 221, 221);
  text-decoration: none;
}
.footer-container ul {
  list-style: none;
}
.footer-container .brand-name {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 0.2rem;
  padding: 4rem 12rem 0;
}
.footer-container .social-icons {
  font-size: 2rem;
  padding: 0 12rem;
  /* margin: 0 12rem; */
  margin-bottom: 1rem;
  display: flex;
  border-bottom: 0.1rem solid #e3e3e3;
}
.footer-container .social-icons li {
  margin: 0.5rem;
}
.footer-grid-container {
  display: flex;
  justify-content: space-around;
  padding: 0 10rem;
}
.footer-column-1 li,
.footer-column-2 li,
.footer-column-3 li {
  font-size: 0.8rem;
  padding: 0.2rem 0;
}
.footer-column-1 {
  text-transform: uppercase;
}
.footer-column-header {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0.8rem 0;
}
.footer-column-2 li:nth-last-child(1) {
  text-decoration-line: underline;
}
.footer-container .footer-column-1 button,
.footer-container .footer-column-2 button {
  color: rgb(252, 221, 221);
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
}
.footer-column-3 input {
  padding: 0.2rem 1.5rem;
  border-radius: 4px;
}
.footer-subscribe-button {
  background-color: #087c3c;
  color: #d6d3d3;
  padding: 0.4rem 2rem;
  text-transform: uppercase;
}
.footer-container .copyright-section {
  display: inline-flex;
  justify-content: space-between;
  font-size: 0.8rem;
  width: 100%;
  padding: 0rem 0 1.5rem;
}
.copyright-section p:nth-child(1) {
  margin: 0 12rem;
}
.copyright-section p:nth-last-of-type(1) {
  text-transform: uppercase;
  margin: 0 auto;
}

/* Media breakpoints */
@media screen and (max-width: 768px) {
  .shopping-content-left {
    width: 100%;
  }
  .shopping-content-right {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .header-bottom ul li {
    font-size: 0.6rem;
  }
  .header-bottom ul {
    padding-left: 1rem;
  }
  .footer-grid-container {
    padding: 0 1vw;
  }
  .copyright-section p:nth-child(1) {
    margin: 0 8vw;
  }
  .footer-container .brand-name {
    padding: 4rem 10vw 0;
  }
  .footer-container .social-icons {
    padding: 0 10vw;
  }
  .footer-column-3 input {
    width: 30%;
    min-width: 25vw;
  }
}
